{% extends 'base.html.twig' %}

{% block title %}Hello PokemonsController!{% endblock %}

{% block body %}

<div>
    <h1>Hello PokemonsController CREATE!</h1>
     {{ form(form) }}
</div>


{% endblock %}

{% block footer %}Créer par evengyl Bstorm 2021 - page pokemons{% endblock %}
